<header>

    <nav class="navbar">

        <div class="logo">
            <h2>PKMR SERVICES</h2>
            <span>Reliable Travel Solutions</span>
        </div>

        <ul class="nav-links">
            <li><a class="active" href="/">HOME</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a href="/fleet">OUR FLEET</a></li>
            <li><a href="/packages">PACKAGES</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>

        <div class="auth-buttons">
            <a href="/login" class="signin">SIGN IN</a>
            <a href="/register" class="signup">SIGN UP</a>
        </div>

    </nav>

</header>