<!-- VEHICLE POPUP -->

<div id="vehicleModal" class="modal">

    <div class="modal-content">

        <span class="close-btn" onclick="closeVehicle()">&times;</span>

        <img id="vehicleImage">

        <h2 id="vehicleTitle"></h2>

        <p id="vehicleDesc"></p>

        <ul class="vehicle-features">
            <li>✔ Professional Driver</li>
            <li>✔ Air Conditioned Vehicle</li>
            <li>✔ Temple Tours</li>
            <li>✔ Airport Transfers</li>
            <li>✔ Family Travel</li>
        </ul>

        <a href="javascript:void(0)"
            class="book-btn"
            onclick="closeVehicle(); openBooking();">
            BOOK NOW
        </a>

    </div>

</div>